*{
	margin: 0; padding: 0;
	font-size: 20px;
	font-family: abrir sans;
}
@font-face{
	font-family: 'abrir Sans';
  src: url('fonts/abrir saens/Ubuntu-Bold.ttf') format('woff2'),
    url('fonts/opensans-light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}


h1{
	font-size: 30px;
  }
a{
	text-decoration: none;
	color: rgb(0,0,0);
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 7px;
	background: rgb(114, 129, 125);
	padding: 2.5%;
}

.container a:hover{
	color: rgb(255,255,255);
	background: rgb(172, 181, 178 );
	border-radius: 10%; 
	padding: 15%;
}


.titulo{
	display: flex;
	justify-content: center;
	width: 100%; height: 100px;
	align-content: center;
	align-items: center;
	background: rgb(228, 224, 224);
}
h1{
	max-width: 1400px;
	min-height: 50px;
}

.text{
	margin: 8%;
	border-top: solid rgb(0, 0, 0);
	padding-top: 5%;
	padding-bottom: 5%;
	background: rgb(250, 252, 255);
}


footer{
	margin-bottom: 0%;
	width: 100%; height:auto;
	background: rgb(10, 20, 30);
	flex-direction: row;
}


.fin a{
	color: white;
	padding: 1px;
	
	flex-shrink: 10%;
	margin-top: 2px;
}

.fin div{
	display: flex;
	justify-content: space-around;
	padding: 3%;
}

.copy {
	color: rgb(255, 255, 255);
	display: flex; 
	flex-direction: column;
	align-items: flex-end;
}
.copy p{
	font-size: 17px;
}