*{
	margin: 0; padding: 0;
	font-family: serif;
	font-size: 20px;
}

h1{
	font-size: 30px;
  }
a{
	text-decoration: none;
	color: rgb(0,0,0);
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 10px;
	background: rgb(150, 155, 200);
	padding: 2.5%;
}

.container a:hover{
	color: rgb(255,255,255);
	background: rgb(0, 0, 0);
	border-radius: 10%;
}


.titulo{
	display: flex;
	justify-content: center;
	width: 100%; height: 100px;
	align-content: center;
	align-items: center;
	background: rgb(245, 245, 245);
}
h1{
	max-width: 1400px;
	min-height: 50px;
}

.text{
	margin: 8%;
	border-top: solid rgb(0, 0, 0);
	padding-top: 5%;
	padding-bottom: 5%;
	background: rgb(250, 252, 255);
}


footer{
	margin-bottom: 0%;
	width: 100%; height: 110px;
	background: rgb(10, 20, 30);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.fin a{
	color: white;
	padding: 1px;
}